# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env

# testing
/coverage

# production
/build

# misc
*.pdf
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript
out/
tsconfig.tsbuildinfo

# gcloud projects add-iam-policy-binding ivory-strategy-416312 --member=serviceAccount:ivory-strategy-416312@appspot.gserviceaccount.com --role=roles/artifactregistry.writer