<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>CARKETPLACE</title>
	<meta name="description" content="Used vehicle databse">
	<meta name="author" content="Tem Tamre">
	<meta name="contact" content="temtamre@gmail.com">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=IBM+Plex+Mono:400,300,800" rel="stylesheet" type="text/css">

	<!-- ICON
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">

	<!-- JAVASCRIPT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <script type="text/javascript" src="js/login.js"></script> -->


</head>

<body>
	<div class="topnav container">
		<a href="/">HOME</a>
		<a href="" class="active" >LOGIN</a>
		<a href="https://github.com/ttamre/carketplace" target="_blank" rel="noopener noreferrer">GITHUB</a>
	</div>

	<!-- Title
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<hr>
	<div class="container">
		<h1 style="margin-top: 5%">_(CAR)KETPLACE</h1>
	</div>
	<hr>

	<!-- Form
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<form id="loginForm">

                <!-- Email/Username -->
				<div class="row">
					<div class="six columns">
						<label for="loginEmail">Email/Username</label>
						<input name="email" id="loginEmail"class="u-full-width" type="text">
					</div>
				</div>

                <!-- Password -->
				<div class="row">
					<div class="six columns">
						<label for="loginPassword">Password</label>
						<input name="password" id="loginPassword"class="u-full-width" type="password">
					</div>
				</div>

				<!-- Buttons -->
                <input name="submit" id="loginSubmit" type="submit" value="Login">
				<input name="create" id="loginCreate" type="submit" value="Create">
                <input name="forgot" id="loginForgot" type="submit" value="Forgot Password?">

			</form>
		</div>
	</div>
	<hr>
</body>

</html>